In [2]:
import pandas as pd

In [7]:
demographics = pd.read_excel(r"../files/Dartmouth_Data_Set.xlsx")
FEIS_df = pd.read_excel(r"../files/START_FEIS_Data.xlsx")

In [8]:
demographics_male = demographics.loc[demographics['Gender']=='Male']
#demographics_male[['Gender']]
# FEIS_df.loc[]

     Gender
0      Male
1      Male
2      Male
3      Male
5      Male
...     ...
4972   Male
4975   Male
4978   Male
4981   Male
4982   Male

[3434 rows x 1 columns]

In [12]:
male_FEIS = pd.merge(demographics_male, FEIS_df, how = 'inner', left_on = ['Local ID'], right_on = ['Respondent ID #  (SIRS Local ID)'])

male_FEIS[["Local ID", 'Respondent ID #  (SIRS Local ID)']]

     Local ID Respondent ID #  (SIRS Local ID)
0     8008815                          8008815
1     6580618                          6580618
2      354280                           354280
3     476148W                          476148W
4     934574C                          934574C
..        ...                              ...
797    156966                           156966
798    164687                           164687
799   1141405                          1141405
800   1013197                          1013197
801  11128011                         11128011

[802 rows x 2 columns]